# Ejercicio 1

In [10]:
text = """Interesting facts about the Moon. The Moon is Earth's only satellite. There are several interesting facts about the Moon and how it affects life here on Earth. 
On average, the Moon moves 4cm away from the Earth every year. This yearly drift is not significant enough to cause immediate effects on Earth. The highest daylight temperature of the Moon is 127 C."""

txt_list = text.split('. ')

txt_list

['Interesting facts about the Moon',
 "The Moon is Earth's only satellite",
 'There are several interesting facts about the Moon and how it affects life here on Earth',
 '\nOn average, the Moon moves 4cm away from the Earth every year',
 'This yearly drift is not significant enough to cause immediate effects on Earth',
 'The highest daylight temperature of the Moon is 127 C.']

In [13]:
palabras = ["average", "temperature", "distance"]

for relacionados in txt_list:
    for palabras in palabras:
        if palabras in relacionados:
            print(relacionados)
            break

The Moon is Earth's only satellite
There are several interesting facts about the Moon and how it affects life here on Earth
This yearly drift is not significant enough to cause immediate effects on Earth
The highest daylight temperature of the Moon is 127 C.

In [15]:
palabras = ["average", "temperature", "distance"]

for relacionados in txt_list:
    for palabras in palabras:
        if palabras in relacionados:
            print(relacionados.replace("C", "Celsius"))
            break

The Moon is Earth's only satellite
There are several interesting facts about the Moon and how it affects life here on Earth
This yearly drift is not significant enough to cause immediate effects on Earth
The highest daylight temperature of the Moon is 127 Celsius.

# Ejercicio 2

In [22]:
name = "Luna"
gravity = 0.00162 # en kms
planet = "Tierra"

titulo = "gravedad en la {}".title().format(name)

print(titulo)

Gravedad En La Luna

In [31]:
convertidor_kms_ms = gravity * 1000

print("""{3}
--------------------------------------------------------------------------------------------------------------------
\nnombre del planeta : {2}
gravedad de {1} : {0} m/s2""".title().format(convertidor_kms_ms,name,planet,titulo))

Gravedad En La Luna
--------------------------------------------------------------------------------------------------------------------

Nombre Del Planeta : Tierra
Gravedad De Luna : 1.6199999999999999 M/S2

In [29]:
name_2 = "Titan"
gravedad = 0.0145 # en kms
planet_2 = "marte"

titulo_2 = "gravedad en la {}".title().format(name_2)

convertidor_kms_ms = gravedad * 1000

In [33]:
# mejor manera que ------------- {"-"* N}

print("""{3}
-------------------------------------------------------------------------------------------------------------------- 
\nnombre del planeta : {2}
gravedad de {1} : {0} m/s2""".title().format(convertidor_kms_ms,name_2,planet_2,titulo_2))

Gravedad En La Titan
--------------------------------------------------------------------------------------------------------------------

Nombre Del Planeta : marte
Gravedad De Titan : 1.6199999999999999 M/S2